* {
  padding: 0;
  margin: 0;
}
.single-link {
  padding: 1.5rem;
    font-size: 0.9rem;
    text-decoration: none;
    text-transform: capitalize;
    color: #d2ec48;
    background: hsl(202, 81%, 28%);
    text-shadow: 1px 1px 1px hsla(0, 0%, 8%, 1);
}
.single-link:hover {
    color: #27a16c;
    background: #0075b8;
}
.logo {
  color: #27a16c;
  background:  #0075b8;
  text-transform: capitalize;
  text-shadow: 2px 2px 1px hsla(0, 0%, 8%, 1);
}

.header {
   font-family: 'Calistoga', cursive;
  background-color:  #0075b8;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  top: 0;
  border-bottom: 4px solid #d2ec48;
  width: 100%;
  z-index: 3;
}
.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background: #ee5331;
}

.header li a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  
}

.header li a:hover,
.header .menu-btn:hover {
  background: #0075b8;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

.header .navbar_links {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}
.header .menu-icon {
  cursor: pointer;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #d2ec48;
  display: block;
  height: 3px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background:#ee5331;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 10px;
}

.header .menu-icon .navicon:after {
  top: -10px;
}

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .navbar_links {
  max-height: 12em;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

@media (min-width: 1120px) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .navbar_links {
    clear: none;
    float: right;
    max-height: none;
  }
  .single-link {
    background:  #0075b8;
    color: #ee5331;
  }
  .header .menu-icon {
    display: none;
  }
  .header {
    padding: 0 0 10px 0;
  }
}
