.user-display, .no-display {
    max-width: 25rem;
    margin: 15rem auto;
    padding: 30px;
     background: #ee5331;
}
#signin-container, #signup-container {
   max-width: 25rem;
    margin: 30px auto;
    padding: 30px;
     background: #ee5331;  
}
fieldset {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
  padding: 1.5rem;
  text-align: center;
  border: 1.3rem solid #27a16c;
   background: #0075b8;
}
legend {
  font-size: 1.4rem;
  color: #0e5883;
  text-shadow:  black;
  background: #27a16c;
}
form p {
    margin: 10px 0;
   
}
input {
    outline: none;
}

main p.errors, .user-display {
  display: flex;
  justify-content: center;
  align-items: center;
    margin-top: 15px;
    text-align: center;
}

.errors {
    font-family: monospace;
    color: red;
}

.no-display {
    display: none;
}
.sign-in, .sign-up {
    text-align: center;
  outline: none;
  border: 2px solid #ee5331;
  border-radius: 5px;
  background: #ee5331;
  box-shadow: 2px 2px 3px 2px hsla(0, 0%, 8%, 1);
}
#signup-button, #signin-button {
 background: #ee5331;
 border: 2px solid  #ee5331;
margin-bottom: 2rem;
box-shadow: 2px 2px 3px 2px hsla(0, 0%, 8%, 1);
text-align: center;
outline: none;
}
p.switch, p {
    text-align: center;
    padding: 0.5rem;
}
#signup-container, #signin-container {
margin-top: 9rem;
border: 10px solid #27a16c
}
label {
    display: inline-block;
    width: 80px;
    margin: 0.5rem;
} 
