
.user-display, .no-display {
    max-width: 27rem;
    height: 15rem;
    margin: auto;
    padding: 30px;
     background: #ee5331;
}
main {
    padding-top: 4rem;
    font-size: 1.2rem;
}
#signin-container, #signup-container {
   max-width: 25rem;
    margin: 30px auto;
    padding: 30px;
     background: #ee5331;  
}

form p {
    margin: 10px 0;
   
}
input {
    outline: none;
}

main p.errors, .user-display {
  display: flex;
  justify-content: center;
  align-items: center;
    margin-top: 15px;
    text-align: center;
}

.errors {
    font-family: monospace;
    color: red;
}

.no-display {
    display: none;
}
.sign-in, .sign-up {
    text-align: center;
  outline: none;
  border: 2px solid #ee5331;
  border-radius: 5px;
  background: #ee5331;
  box-shadow: 2px 2px 3px 2px hsla(0, 0%, 8%, 1);
}
#signup-button, #signin-button {
 background: #ee5331;
 border: 2px solid  #ee5331;

box-shadow: 2px 2px 3px 2px hsla(0, 0%, 8%, 1);
text-align: center;
outline: none;
}
p.switch, p {
    text-align: center;
    padding: 0.5rem;
}
#signup-container, #signin-container {
border: 10px solid #27a16c
}
label {
    display: inline-block;
    width: 80px;
    margin: 0.5rem;
} 

