
.user-display, .no-display {
    max-width: 27rem;
    height: 15rem;
    margin: auto;
    padding-top: 40px;
    background: #ee5331;
    border: 10px solid #27a16c
}
main {
    padding-top: 10vh;
    font-size: 1.2rem;
}
#signin-container, #signup-container {
   max-width: 25rem;
    margin: 30px auto;
    padding: 30px;
    outline: none;
     background: #ee5331;  
}
.sign-in {
  background:  #ee5331;
  border: 2px solid #ee5331;
  outline: none;
  box-shadow: 1px 1px 1px 1px black;
}
.sign-up {
    outline: none;
  background:  #ee5331;
  border: 2px solid #ee5331;
  box-shadow: 1px 1px 1px 1px black;
}
#signup-button {
    outline: none;
  background:  #ee5331;
  border: 2px solid #ee5331;
  box-shadow: 1px 1px 1px 1px black;
}
#signin-button {
    outline: none;
  background:  #ee5331;
  border: 2px solid #ee5331;
  box-shadow: 1px 1px 1px 1px black;
}

form p {
    margin: 10px 0;
   
}
input {
    outline: none;
}

main p.errors, .user-display {
  display: flex;
  justify-content: center;
  align-items: center;
    margin-top: 15px;
    text-align: center;
}

.errors {
    font-family: monospace;
    color: red;
}

.no-display {
    display: none;
}
p.switch, p {
    text-align: center;
    padding: 0.5rem;
}
#signup-container, #signin-container {
border: 10px solid #27a16c
}
label {
    display: inline-block;
    width: 80px;
    margin: 0.5rem;
} 
.logout {
    outline: none;
  background:  #ee5331;
  border: 2px solid #ee5331;
  box-shadow: 1px 1px 1px 1px black;
}



